<header>
    <h1>Monster Slayer</h1>
</header>
<div id="game">
    <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
            <div class="healthbar__value" :style="monsterBarStyles"></div>
        </div>
    </section>
    <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
            <div class="healthbar__value" :style="playerBarStyles"></div>
        </div>
    </section>
    <section class="container" v-if="winner">
        <h2>Game Over</h2>
        <h3 v-if="winner === 'monster'">You Lost</h3>
        <h3 v-else-if="winner === 'player'">You Won</h3>
        <h3 v-else-if="winner === 'draw'">Draw</h3>
        <button v-on:click="startGame()">Start New Game</button>
    </section>
    <section id="controls" v-else>
        <button v-on:click="attackMonster()">ATTACK</button>
        <button :disabled="mayUseSpecialAttack" v-on:click="specialAttackMonster()">SPECIAL ATTACK</button>
        <button v-on:click="healPlayer()">HEAL</button>
        <button v-on:click="surrender()">SURRENDER</button>
    </section>
    <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
            <li v-for="logMessage in logMessages">
                <span
                        :class="{'log--player': logMessage.actionBy === 'player', 'log--monster':logMessage.actionBy === 'monster'}">
                    {{ logMessage.actionBy === 'player' ? 'Player' : 'Monster' }}
                </span>
                <span v-if="logMessage.actionType === 'heal'"> heals himself for <span class="log--heal">{{ logMessage.actionValue }}</span></span>
                <span v-else> attacks and deals <span class="log--damage">{{ logMessage.actionValue }}</span></span>
            </li>
        </ul>
    </section>
</div>